<!-- <p>
    {{activePage}}
</p> -->

<div [hidden]="!(activePage=='data-access')">
    <app-data-access></app-data-access>
</div>

<div [hidden]="!(activePage=='data-movement')">
   <app-data-movement></app-data-movement>
</div>

<div [hidden]="!(activePage=='data-placement')">
    <app-data-placement></app-data-placement>
</div>

<div [hidden]="!(activePage=='comment')" >
    <div [ngClass]="{'cursor-style':commentClicked}" >
        
        <div class="comment-style" (click)="comment()" > Comment </div>
        <app-bar-chart [data]="barChartObj" [iconStatus]="commentClicked" (graphClicked)="graphClicked()" ></app-bar-chart>
        
        </div>
       
</div>