<!DOCTYPE html>

<html lang="en" class="perfect-scrollbar-on">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SAP</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS     -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
	<header>
    	<nav>
        	<div class="col-md-4 col-lg-4">
							<a href="#" class="logo"><img src="images/sap-logo.png" alt="logo" class="img-responsive" /></a>
							<a href="/dashboard/{{localStorage.getItem("subscriptionID")}}" class="header-icon"><img src="images/left-arrow.png" alt="left-arrow" class="img-responsive" /></a>
							<a href="#" class="header-icon"><img src="images/home-icon.png" alt="home" class="img-responsive" /></a>
							<a href="#" class="header-icon"><img src="images/user-icon.png" alt="user" class="img-responsive" /></a>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
            	<div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Access Risk by Union
                  <span class="header-icon"><img src="images/down-arrow.png" alt="down-arrow" class="img-responsive down-arrow" /></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Region 1</a></li>
                    <li><a href="#">Region 2</a></li>
                    <li><a href="#">Region 3</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 text-right">
            	<a href="#" class="header-icon"><img src="images/search-icon.png" alt="search" class="img-responsive" /></a>
                <a href="#" class="header-icon"><img src="images/circle.png" alt="circle" class="img-responsive" /></a>
                <a href="#" class="header-icon"><img src="images/chart.png" alt="chart" class="img-responsive" /></a>
            </div>
        </nav>
    </header>
    <section class="content">
    	<div class="tabs">
						<!-- union-tabs -->
						<ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#europe">Europe Union</a></li>
              <li class="active"><a data-toggle="tab" href="#swiss">Swiss-German Union</a></li>
              <li><a data-toggle="tab" href="#america">North-America Union</a></li>
              <a href="#" class="add-tabs pull-right">+</a>
            </ul>
            <div class="tab-content union-tabs">
								<!-- europe-tab -->
								<div id="europe" class="tab-pane fade">
                	<div class="row clear-margin">zxcvbnm</div>
                </div>
								<!-- europe-tab ends -->

								<!-- swiss-tab -->
								<div id="swiss" class="tab-pane fade in active">
                	<div class="row clear-margin">
										<div class="col-md-5 col-lg-5 clear-padding">
											<h4>Swiss-German Union #738804</h4>
											<p>Status: <span class="color-21e5a4">Active</span></p>
											<p>Risk Level: <span class="color-21e5a4">Very Low</span></p>
											<p>Supported by: <span>Google Cloud</span></p>
										</div>
										<div class="col-md-7 col-lg-7 clear-padding">
											<div class="col-md-6 col-lg-6">
												<p>Data Access Times by Day</p>
												<div>
													<!-- Chart Placeholder -->
													<img src="images/line-chart.png" alt="line-chart" class="img-responsive" />
													<!-- Chart Placeholder -->
												</div>
											</div>
											<div class="col-md-6 col-lg-6">
												<p>Access Risk Violations</p>
												<div>
													<!-- Chart Placeholder -->
													<img src="images/donut-chart.png" alt="donut-chart" class="img-responsive" />
													<!-- Chart Placeholder -->
												</div>
											</div>
										</div>
									</div>
									<div class="row clear-margin data-tabs">
										<ul class="nav nav-tabs">
											<li><a data-toggle="tab" href="#data-access">DATA ACCESS</a></li>
				              <li><a data-toggle="tab" href="#data-movement">DATA MOVEMENT</a></li>
				              <li class="active"><a data-toggle="tab" href="#data-placement">DATA PLACEMENT</a></li>
										</ul>
										<div class="tab-content">
											<!-- data-access-tab -->
											<div id="data-access" class="tab-pane fade">
												<div class="row clear-margin">
													<!-- Map Placeholder -->

													<!-- Map Placeholder -->
												</div>
											</div>
											<!-- data-access-tab ends -->

											<!-- data-movement-tab -->
											<div id="data-movement" class="tab-pane fade">
												<div class="row clear-margin">
													<!-- Map Placeholder -->

													<!-- Map Placeholder -->
												</div>
											</div>
											<!-- data-movement-tab ends -->

											<!-- data-placement-tab -->
											<div id="data-placement" class="tab-pane fade in active">
												<div class="row clear-margin">
													<!-- Map Placeholder -->
													<img src="images/union-map.png" alt="data-plcement" class="img-responsive" />
													<!-- Map Placeholder -->
												</div>
											</div>
											<!-- data-placement-tab ends -->
										</div>
									</div>
                </div>
								<!-- swiss-tab ends -->

								<!-- america-tab -->
								<div id="america" class="tab-pane fade">
                	<div class="row clear-margin">asdfghjkl</div>
                </div>
								<!-- america-tab ends -->
            </div>
						<!-- union-tabs Ends -->
        </div>

    </section>
<!--   Core JS Files   -->
<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
