<!DOCTYPE html>

<html lang="en" class="perfect-scrollbar-on">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SAP</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap core CSS     -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
	<header>
    	<nav>
        	<div class="col-md-4 col-lg-4">
							<a href="#" class="logo"><img src="images/sap-logo.png" alt="logo" class="img-responsive" /></a>
              <a href="/dashboard/{{localStorage.getItem("subscriptionID")}}" class="header-icon"><img src="images/left-arrow.png" alt="left-arrow" class="img-responsive" /></a>
              <a href="#" class="header-icon"><img src="images/home-icon.png" alt="home" class="img-responsive" /></a>
							<a href="#" class="header-icon"><img src="images/user-icon.png" alt="user" class="img-responsive" /></a>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
            	<div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Overview
                  <span class="header-icon"><img src="images/down-arrow.png" alt="down-arrow" class="img-responsive down-arrow" /></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Region 1</a></li>
                    <li><a href="#">Region 2</a></li>
                    <li><a href="#">Region 3</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 text-right">
            	<a href="#" class="header-icon"><img src="images/search-icon.png" alt="search" class="img-responsive" /></a>
                <a href="#" class="header-icon"><img src="images/circle.png" alt="circle" class="img-responsive" /></a>
                <a href="#" class="header-icon"><img src="images/chart.png" alt="chart" class="img-responsive" /></a>
            </div>
        </nav>
    </header>
    <section class="blank"></section>
    <section class="content">
    	<div class="tiles">
        	<div class="row">
            	<div class="col-md-3 col-lg-3">
                	<div class="panel panel-default">
                    	<div class="panel-heading">
                        	<h5>Complience Trend Chart <br><span>1 min ago</span></h5>
                            <span class="value">98.4%</span>
                        </div>
                        <div class="panel-body">
													<!-- Chart Placeholder -->
													<img src="images/complience-chart.png" alt="complience-chart" class="img-responsive complience-chart" />
													<!-- Chart Placeholder -->
												</div>
                    </div>

                    <div class="panel panel-default">
                    	<div class="panel-heading">
                        	<h5>Risk Occurences <br><span>1 min ago</span></h5>
                        </div>
                        <div class="panel-body">
													<!-- Chart Placeholder -->
													<img src="images/bubble-chart.png" alt="Risk-Occurences-chart" class="img-responsive risk-chart" /></div>
													<!-- Chart Placeholder -->
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                	<div class="panel panel-default">
                    	<div class="panel-heading">
                        	<h5>My Tasks <br><span>Due Today</span></h5>
                        </div>
                        <div class="panel-body clear-vertical-padding">
                        	<ul class="task-list">
                            	<li>Check Completed Support Ticket<br><span>Quick followup & Verify</span></li>
                                <li>Monthly Report for Lena</li>
                                <li>Cloud Security Online Training</li>
                                <li>Prepare Report for Upcoming Audit</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                        	<span>Showing 4 of 6</span>
                            <a class="pull-right view-more"><img src="images/dots.png" alt="dots" /></a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                    	<div class="panel-heading">
                        	<h5>News Feed <br><span>Today</span></h5>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-lg-12 clear-padding">
                            	<div class="news-image"><img src="images/news-feed-image.png" alt="default-news-feed" /></div>
                                <div class="news-desc">bsdvfghq vhsdf wbfvhwe wvegd gwecfgwq wgfg	w</div>
                            </div>
                            <div class="col-md-12 col-lg-12 clear-padding">
                            	<div class="news-image"><img src="images/news-feed-image.png" alt="default-news-feed" /></div>
                                <div class="news-desc">bsdvfghq vhsdf wbfvhwe wvegd gwecfgwq wgfg	w</div>
                            </div>
                        </div>
                        <div class="panel-footer">
                        	<span>Showing 2 of 10</span>
                            <a class="pull-right view-more"><img src="images/dots.png" alt="dots" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
					<div class="col-md-12 col-lg-12 clear-padding">
                    	<div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Access Risk by Union <br><span>10 min ago</span></h5>
                            </div>
                            <div class="panel-body clear-padding">
															<!-- Chart Placeholder -->
															<img src="images/map.png" alt="map" class="img-responsive main-map" />
															<!-- Chart Placeholder -->
														</div>
                            <div class="panel-footer">
															<span class="margin-right20">North-America Union: <i class="color-21e5a4">Very Low</i></span>
															<span class="margin-right20">Europe Union: <i class="color-21e5a4">Very Low</i></span>
															<span>Swiss-German Union: <i class="color-21e5a4">Very Low</i></span>
														</div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 clear-padding">
                    	<div class="col-md-6 col-lg-6 clear-padding-left">
                        	<div class="panel panel-default">
                            	<div class="panel-heading">
                                    <h5>Access Risk Violations <br><span>Current Week</span></h5>
                                </div>
                                <div class="panel-body">
																	<!-- Chart Placeholder -->
                                	<img src="images/pie-chart.png" alt="pie-chart" class="img-responsive risk-chart" />
																	<!-- Chart Placeholder -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 clear-padding-right">
                        	<div class="panel panel-default">
                            	<div class="panel-heading">
                                    <h5>Frequent Conatct List <br><span>Based on Use</span></h5>
                                </div>
                                <div class="panel-body">
                                	<div class="col-md-12 col-lg-12 clear-padding">
                                        <div class="contact-image"><img src="images/user-icon.png" alt="default-news-feed" /></div>
                                        <div class="contact-desc">
                                        	<p class="contact-name">Kumaran</p>
                                            <p class="contact-designation">System Engineer</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 clear-padding">
                                        <div class="contact-image"><img src="images/user-icon.png" alt="default-news-feed" /></div>
                                        <div class="contact-desc">
                                        	<p class="contact-name">Rajinder</p>
                                            <p class="contact-designation">Software Developer</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 clear-padding">
                                        <div class="contact-image"><img src="images/user-icon.png" alt="default-news-feed" /></div>
                                        <div class="contact-desc">
                                        	<p class="contact-name">John</p>
                                            <p class="contact-designation">Senior Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!--   Core JS Files   -->
<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
