<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Complience Trend Chart <br><span>1 min ago</span></h5>
    <span class="value">98.4%</span>
  </div>
  <div class="panel-body">
    <!-- Chart Placeholder -->
    <div id="chartdiv" class="img-responsive complience-chart"></div>

    <!-- <div id='linechart_material' class="img-responsive complience-chart"></div> -->
    <!--<img src="..assets/complience-chart.png" alt="complience-chart" class="img-responsive complience-chart" />-->
    <!-- Chart Placeholder -->
  </div>
</div>