<div style="width:200px; height: 100px; border: 1px solid grey; margin: 10px;">
<textarea type="textarea" style="width:150px; height:50px; margin: 10px; color:blue"  ></textarea>
<button (click)="save()"  style="color:blue">Save</button>
</div>