<div materialize="carousel" class="carousel">
  <a class="carousel-item">
    <div class="comtainer" style="border:1px solid #fff;">
      <h3>Geo-Chart</h3>
      <div class="chart-box">
        <!-- <img src="../../../assets/dummychart.png"> -->
        <geo-chart></geo-chart>

      </div>
    </div>
  </a>
  <a class="carousel-item" >
    <div class="comtainer" style="border:1px solid #fff;">
      <h3>Donut Chart</h3>
      <div class="chart-box">
        <!-- <img src="../../../assets/dummychart.png"> -->
        <donut-chart></donut-chart>
      </div>
    </div>
  </a>
  <a class="carousel-item" >
    <div class="comtainer" style="border:1px solid #fff;">
      <h3>Scatter Chart</h3>
      <div class="chart-box">
        <!-- <img src="../../../assets/dummychart.png"> -->
        <scatter-chart></scatter-chart>
      </div>
    </div>
  </a>
  <a class="carousel-item" >
    <div class="comtainer" style="border:1px solid #fff;">
      <h3>Line Chart</h3>
      <div class="chart-box">
        <!-- <img src="../../../assets/dummychart.png"> -->
        <line-chart></line-chart>
      </div>
    </div>
  </a>
  <a class="carousel-item" >
    <div class="comtainer" style="border:1px solid #fff;">
      <h3>Table</h3>
      <div class="chart-box">
        <!-- <img src="../../../assets/dummychart.png"> -->
        <table-app1></table-app1>

      </div>
    </div>
  </a>
</div>


<a routerlink='/dashboard' (click)="gotoDashboard()" style="color:white; text-align: center;"> Goto Dashboard </a>
