@import "../../../../node_modules/materialize-css/dist/css/materialize.css";
body {
  background-color: #D5D5D5;
}

.carousel {
  height: 800px;
  margin-top: -10%;
 
}

.carousel .carousel-item {
  width: 700px;
}

.carousel .carousel-item>img {
  height: 400px;
}
