<div class="row" style="height: 50px;">
  <header>
  <nav>
    <div class="col-md-4 col-lg-4">
        <a href="#" class="logo"><img src="assets/images/sap-logo.png" alt="logo" class="img-responsive"></a>
        <a [routerLink]="" class="header-icon" (click)="toDashboard()"><img src="assets/images/left-arrow.png" alt="left-arrow" class="img-responsive" ></a>
        <a href="#" class="header-icon"><img src="assets/images/home-icon.png" alt="home" class="img-responsive"></a>
        <a href="#" class="header-icon"><img src="assets/images/user-icon.png" alt="user" class="img-responsive"></a>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Access Risk by Union
            <span class="header-icon"><img src="assets/images/down-arrow.png" alt="down-arrow" class="img-responsive down-arrow"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Region 1</a></li>
              <li><a href="#">Region 2</a></li>
              <li><a href="#">Region 3</a></li>
            </ul>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 text-right">
        <a href="#" class="header-icon"><img src="assets/images/search-icon.png" alt="search" class="img-responsive"></a>
          <a href="#" class="header-icon"><img src="assets/images/circle.png" alt="circle" class="img-responsive"></a>
          <a href="#" class="header-icon"><img src="assets/images/chart.png" alt="chart" class="img-responsive"></a>
      </div>
  </nav>
</header>
</div>

<div >
  <router-outlet></router-outlet>
</div>
