<div class="box">

  <div>{{data.title}}</div>
    <div *ngFor="let item of data.items; let j = index;">
      <div style="margin:10px">
        <div style="width:100px; display: inline-block">{{item.label}}</div>
          <div *ngFor="let bar of item.compliance; let i = index;" [style.width.%]="bar.percentage" [style.background]="bar.color" style=" height: 20px; display: inline-block; background: blue; " (click)="barClicked(i,j)" >
          <span [hidden]="! ((i+1)==item.compliance.length)" style="float: right;margin-right: 10px;">{{bar.percentage}} %</span> 
          <img [hidden]="!bar.chaticon" (click)="iconpopup(bar)" src="assets/chaticon.png" style="width: 25px; margin-right: 5px; float: right; cursor: pointer">
          <app-chat-comment [hidden]="!bar.commentbox" (saved)="commentSaved(i,j)" style="position: absolute" ></app-chat-comment>
      </div>  
    </div>
  </div>

</div>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div> -->