.alertbox{
    
    width:250px;
    height: 50px;
    position: absolute;
    z-index: 2;
    border: 1px orange solid ;
    border-radius:50px 50px 50px 50px;
    background-color: #5F5E5E;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    color: white !important;
    font-size: 12px;
    line-height: 50px;
   }