
<header>
  <nav>
    <div class="col-md-4 col-lg-4">
      <a href="#" class="logo"><img src="assets/sap-logo.png" alt="logo" class="img-responsive" /></a>
      <a href="#" class="header-icon"><img src="assets/left-arrow.png" alt="left-arrow" class="img-responsive" /></a>
      <a href="#" class="header-icon"><img src="assets/home-icon.png" alt="home" class="img-responsive" /></a>
      <a href="#" class="header-icon"><img src="assets/user-icon.png" alt="user" class="img-responsive" /></a>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Overview
                  <span class="header-icon"><img src="assets/down-arrow.png" alt="down-arrow" class="img-responsive down-arrow" /></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Region 1</a></li>
          <li><a href="#">Region 2</a></li>
          <li><a href="#">Region 3</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 text-right">
      <a href="#" class="header-icon"><img src="assets/search-icon.png" alt="search" class="img-responsive" /></a>
      <a href="#" class="header-icon"><img src="assets/circle.png" alt="circle" class="img-responsive" /></a>
      <a href="#" class="header-icon"><img src="assets/chart.png" alt="chart" class="img-responsive" /></a>
    </div>
  </nav>
</header>
<section class="blank"></section>
<section class="content">
  <div class="tiles">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <app-complience-trend-chart [chartType]="chartType" ></app-complience-trend-chart>
        <a href="/1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Risk Occurences <br><span>1 min ago</span></h5>
          </div>
          <div class="panel-body">
            <!-- Chart Placeholder -->

            <div id="chart_div" class="img-responsive risk-chart"></div>

            <!-- <img src="..assets/bubble-chart.png" alt="Risk-Occurences-chart"  /></div> -->
          </div>
          <!-- Chart Placeholder -->
        </div>
      </a>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="panel panel-default">
        <app-my-task></app-my-task>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>News Feed <br><span>Today</span></h5>
          </div>
          <div class="panel-body">
            <div class="col-md-12 col-lg-12 clear-padding">
              <div class="news-image"><img src="assets/news-feed-image.png" alt="default-news-feed" /></div>
              <div class="news-desc">bsdvfghq vhsdf wbfvhwe wvegd gwecfgwq wgfg w</div>
            </div>
            <div class="col-md-12 col-lg-12 clear-padding">
              <div class="news-image"><img src="..assets/news-feed-image.png" alt="default-news-feed" /></div>
              <div class="news-desc">bsdvfghq vhsdf wbfvhwe wvegd gwecfgwq wgfg w</div>
            </div>
          </div>
          <div class="panel-footer">
            <span>Showing 2 of 10</span>
            <a class="pull-right view-more"><img src="assets/dots.png" alt="dots" (click)="gotoTablePage()"/></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="col-md-12 col-lg-12 clear-padding">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>Access Risk by Union <br><span>10 min ago</span></h5>
            </div>
            <div class="panel-body clear-padding">
              <!-- Chart Placeholder -->
              <!-- <img src="..assets/map.png" alt="map" class="img-responsive main-map" /> -->
              <div id="geochart-colors" class="img-responsive main-map" style="height:50%"></div>

              <!-- <geo-chart></geo-chart> -->
              <!-- Chart Placeholder -->
            </div>
            <div class="panel-footer">
              <span class="margin-right20">North-America Union: <i class="color-21e5a4">Very Low</i></span>
              <span class="margin-right20">Europe Union: <i class="color-21e5a4">Very Low</i></span>
              <span>Swiss-German Union: <i class="color-21e5a4">Very Low</i></span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 clear-padding">
          <div class="col-md-6 col-lg-6 clear-padding-left">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5>Access Risk Violations <br><span>Current Week</span></h5>
              </div>
              <div class="panel-body">
                <!-- Chart Placeholder -->
                <!-- <img src="..assets/pie-chart.png" alt="pie-chart" class="img-responsive risk-chart" /> -->
                <!-- <google-chart [data]="pieChartData"></google-chart> -->
                <div id="piechart" class="img-responsive risk-chart"></div>
                <!-- Chart Placeholder -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 clear-padding-right">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5>Frequent Conatct List <br><span>Based on Use</span></h5>
              </div>
              <div class="panel-body">
                <div class="col-md-12 col-lg-12 clear-padding">
                  <div class="contact-image"><img src="assets/user-icon.png" alt="default-news-feed" /></div>
                  <div class="contact-desc">
                    <p class="contact-name">Kumaran</p>
                    <p class="contact-designation">System Engineer</p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 clear-padding">
                  <div class="contact-image"><img src="assets/user-icon.png" alt="default-news-feed" /></div>
                  <div class="contact-desc">
                    <p class="contact-name">Rajinder</p>
                    <p class="contact-designation">Software Developer</p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12 clear-padding">
                  <div class="contact-image"><img src="assets/user-icon.png" alt="default-news-feed" /></div>
                  <div class="contact-desc">
                    <p class="contact-name">John</p>
                    <p class="contact-designation">Senior Manager</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>