<div style="border: 1px solid green ;">
  <br>
  <span  [routerLink]="['/', {outlets: {'risk-occurrences': ['1234'], 'vm-node': ['9639'], 'support-ticket': ['53535'] } }]" >link....... </span> 
  vm access node ...  vmNodeAccessId: {{vmNodeAccessId | json}}
  <br>..
</div>
 