
.compliance-value {
  font-size: 30px;
}

.chart-page {
  background-color: #fff;
  padding: 20px;
}

.table {
  color: #FFFFFF;
}

#a1 button {
  float: right;
}

.custom-modal {
  color: #FFFFFF;
  height: auto;
  width: 300px;
  border: 1px solid #666;
  background: #ececec;
  box-shadow: 2px 2px 2pc;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 37%;
}
.chart-view{
  color:#fff;
  padding:0px 20px;
}
.comment-style{
  text-align: right;
  cursor:pointer;
}
.cursor-style{
   cursor: url(../../../assets/chat.cur) , not-allowed ;
  } 
  .click-here a{
    color: white;
    float: right;
    margin-right: 100px;
  }
  