

<header>
   
  <nav>
  
    <div class="col-md-4 col-lg-4">
      <a class="logo"><img src="../../../assets/sap-logo.png" alt="logo" class="img-responsive" /></a>
      <a class="header-icon"><img src="../../../assets/left-arrow.png" alt="left-arrow" class="img-responsive" /></a>
      <a class="header-icon"><img src="../../../assets/home-icon.png" alt="home" class="img-responsive" /></a>
      <a class="header-icon"><img src="../../../assets/user-icon.png" alt="user" class="img-responsive" /></a>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">My Reports
             <span class="header-icon"><img src="../../../assets/down-arrow.png" alt="down-arrow" class="img-responsive down-arrow" /></span></button>
        <ul class="dropdown-menu">
          <li><a>Region 1</a></li>
          <li><a>Region 2</a></li>
          <li><a>Region 3</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 text-right">
      <a class="header-icon"><img src="../../../assets/search-icon.png" alt="search" class="img-responsive" /></a>
      <a class="header-icon"><img src="../../../assets/circle.png" alt="circle" class="img-responsive" /></a>
      <a class="header-icon"><img src="../../../assets/chart.png" alt="chart" class="img-responsive" /></a>
    </div>
  </nav>
</header>

 <div class="row">
   <div class="col-md-12">
        <div [ngClass]="{'cursor-style':commentClicked}" class="chart-view">  
         <div class="comment-style" (click)="comment()" > Comment </div>
       
          <app-bar-chart [data]="barChartObj" [iconStatus]="commentClicked" (graphClicked)="graphClicked()" ></app-bar-chart>
        </div> 
   </div>
 </div>
  <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Business Unit</th>
                  <th>Issue category</th>
                  <th>Buisness Impact</th>
                  <th>Compliance Issue</th>
                  <th>Compliance Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of tableValue;let i= index" (click)="commentPopup(i)">
                  <td>{{value.BusinessUnit}}</td>
                  <td>{{value.Issuecategory}}</td>
                  <td>{{value.BuisnessImpact}}</td>
                  <td data-toggle="popover" data-trigger="click" data-popover-content="#a1" data-placement="bottom">{{value.ComplianceIssue}}</td>
                  <td> <img *ngIf="value.ShowCommentIcon" src="../../../assets/chaticon.png" style="width: 25px; margin-right: 5px;"
                      (click)="newComment(value.ShowComment)">{{value.ComplianceRate}}</td>
                </tr>
              </tbody>
            </table>
            <!-- Content for Popover #1 -->
            <div id="a1" class="hidden">
              <div class="popover-heading">Leave a comment</div>
              <div class="popover-body"><textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="btn btn-default">Save</button>
              </div>
            </div> 
            <!--popover ends-->
            <!--modal-custom-->
             <div class="custom-modal" [hidden]="popupVisible">
              <div class="popover-heading" style="color:gray">Leave a comment</div>
              <div class="popover-body"><textarea [(ngModel)]="leaveComment" class="form-control" rows="5" id="comment"style="color:gray"></textarea>
                <button type="btn btn-default" (click)="saveComment(leaveComment,commentindex)"style="color:gray">Save</button>
                <button type="btn btn-default" (click)="close()"style="color:gray">Cancel</button>

              </div>
            </div>
  </div> 
  <div class="click-here"><a href="/1">click here</a></div>
    
    

  

    