*{
	margin:0;
	padding:0;
	outline:none;
}
body{
	font-size:16px;
	background-color: #3d5c78;
	color:#666666;
	font-family: Verdana, Geneva, sans-serif;
}
/*Login CSS*/

.blue{
  color:#28aae4;
}
.form-control::-webkit-input-placeholder { color: #343434; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color:#343434; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #343434;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #343434; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #343434; } 
.login-height{
	height:40%;
}
.login-div{
  color:#fff;
  position:absolute;
  z-index:99;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width:30%;
  
  
}

.login-div img{
width:40px;
vertical-align:middle;
}
.login-div button{
  margin-top:20px;
 background: transparent;
    border: 2px solid #28aae4;
  padding: 15px 20px;
  font-weight:bold;
  width:160px;
 
  border-radius:0px;
}
.login-div button:hover,.login-div button:focus,.login-div button:active{
 background:transparent;
 color:#28aae4;
 border: 2px solid #28aae4;
}
.login-div .fa{
	float:right;
	position: absolute;
    right: 0;
    bottom: 20px;
	cursor:pointer;
}
.login-div h3{
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  color:#FFF;
}
.login-div .form-group{
	position: relative;
	padding:15px 0px;
   
}
.login-div .login-form input{
	color:#fff;
	 border:none;
	 border-bottom:1px solid #b3cce5;
	 border-radius: 0;
	 background:transparent;
	 box-shadow:none;
	 padding: 6px 0px;
}
.login-div .login-form  select{
color:#fff;
	border:none;
	border-bottom:1px solid #b3cce5;
	 border-radius: 0;
	 background:#3d5c78;
	 box-shadow:none;
	 padding: 6px 0px;
}
.login-div  p{
	font-size:14px;
	
}
.login-div p.forgot-pwd{
	float:right;
	font-size:12px;
}
.login-div .register p{
	text-align:center;
}
.login-form{
	
  font-weight:500;
  text-align:center;
  padding: 30px;
  background:rgba(90,90,90,0.8);
    
}

.login-form span{
	
    font-size: 24px;
    font-weight: bold;
	padding-bottom:10px;
	vertical-align:middle;
}
.btn-wrapper{
	float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.logo-form{
	text-align:left;
	padding:10px 0px;
}
.login-bg{
	background-image:url('../images/gstpic.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100vh;
	
}
.login-bg .login-form{
	
	background:transparent;

}

.login-form  input::placeholder {
  color: #fff;
}
.login-logo{
	padding-bottom:20px;
}
@media only screen and (min-width:321px) and (max-width:767px){
.login-div{
	width:60%;
}

}

@media only screen and (max-width:320px){
.login-div{
	width:100%;
}
}

/* Default CSS */
.clear-padding{
	padding:0;
}
.clear-padding-left{
	padding-left:0;
}
.clear-padding-right{
	padding-right:0;
}
.clear-vertical-padding{
	padding-top: 0px;
	padding-bottom: 0px
}
.clear-margin{
	margin: 0;
}
.margin-right20{
	margin-right: 20px;
}
.height200{
	height: 200px;
}
.color-21e5a4{
	color: #21e5a4;
}

/* Custom CSS */
header, section{
	width:100%;
	float:left;
	font-size:1em;
	padding:10px 0px
}
header a, header a:hover, header a:focus, header a:visited{
	color: #FFFFFF !important;
	text-decoration: none
}
.header-icon img{
	display: inline-block;
	width:24px;
	height:24px;
	vertical-align: middle;
	margin: 0px 10px;
}
.header-icon img.down-arrow{
	width: 16px;
    height: 16px;
    margin-left: 5px;
}
.logo img{
	display: inline-block;
	margin:0px 10px;
	height:24px;
}
.blank{
	height:35px;
	background: #375368;
}
section.content{
	padding-bottom:0;
}
.tiles{
	padding: 5px 45px 0px 45px;
}
.panel{
	background: #2c2c2d;
	border-radius: 2px;
	border:none;
	margin-bottom: 16px
}
.panel-default>.panel-heading{
	background: #2c2c2d;
	color:#FFFFFF;
}
.panel-footer{
	background: #2d2d2d;
	color:#FFFFFF;
	font-size:0.75em
}
.panel-footer span{
	opacity: 0.75;
	font-size: 0.75em
}
h5{
	margin: 0;
	font-weight:bold;
	line-height: 1.25em;
}
h5 span{
	font-weight: normal;
	font-size: 0.75em;
	opacity:0.75;
}
.value{
	font-size: 1.5em;
	padding-top: 10px;
	color: #aada78
}
.task-list{
	padding-left: 20px;
	border-left: 1px solid #efefef;
	margin:0;
	color: #FFFFFF;
}
.task-list li{
	padding: 13px 0px;
	list-style-image:url(../images/list-icon.png);
	margin-left: -5px;
	font-size:0.875em;
}
.task-list li span{
	opacity: 0.75;
	font-size:0.75em;
}
.view-more img{
	width:20px;
	height:20px;
}
.complience-chart{
	height:150px;
	width:100%;
}
.risk-chart{
	height:178px;
	width:100%;
}
.main-map{
	width:100%;
	height:175px;
}
.news-image, .contact-image{
	width: 50px;
	float:left;
	vertical-align: middle;
	margin-bottom:10px;
}
.news-desc, .contact-desc{
	width: calc(100% - 60px);
	float:left;
	font-size: 0.75em;
	color: #FFFFFF;
}
.contact-image img{
	width:44px;
	height:44px;
	margin-bottom: 6px;
}
.contact-name{
	font-size:1em;
	padding-left:10px;
	margin-bottom: 5px
}
.contact-designation{
	font-size: 0.875em;
	opacity:0.75;
	padding-left:10px;
}
.open>.dropdown-menu{
	left:30%;
	background: #344A5F;
}
.btn.dropdown-toggle{
    background: transparent;
    color: #FFFFFF;
    padding: 0px;
	outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
	box-shadow: none
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	color: #333333 !important;
}

/* Union Page */
.tabs{
	margin-top: -10px;
}
.nav-tabs{
	border-bottom: 0px;
	padding: 0px 5%;
}
.tabs > .nav-tabs{
	background: #344A5F;
}
.tabs > .tab-content{
	padding: 10px 0px 0px 0px;
	background-color: #3b5166;
	color: #FFFFFF;
	font-size: 0.75em
}
.tab-content h4{
	margin-top: 0px;
}
.union-tabs > .tab-pane > div:first-child{
	padding: 0px 5%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #b3cce5;
	color: #b3cce5;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
	border: none;
}
.nav>li>a{
	color: #849bb0;
	padding: 5px 0px;
	margin-right: 20px;
	border: none
}
.add-tabs{
	color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25em
}
.add-tabs:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.data-tabs ul{
	font-size: 1.25em;
}
.data-tabs{
	height: calc(100vh - 212px);
	overflow: hidden;
}
