  <!--Main page(Risk Access) Starts-->
  <div id="main">
    <section class="content">
       <div class="tabs">
          <!-- union-tabs -->
          <!-- <ul class="nav nav-tabs">
             <a href="#" class="add-tabs pull-right">+</a>
             </ul>-->
          <div class="tab-content union-tabs">
             <!-- europe-tab -->
             <div id="europe" class="tab-pane fade">
                <div class="row clear-margin">zxcvbnm</div>
             </div>
             <!-- europe-tab ends -->
             <!-- swiss-tab -->
             <div id="swiss" class="tab-pane fade in active">
                <div class="row clear-margin">
                   <div class="col-md-5 col-lg-5 clear-padding">
                      <h4>RISK OCCURANCE</h4>
                      <p>Status: <span class="color-21e5a4">Active</span></p>
                      <p>Risk Level: <span class="color-21e5a4">Very Low</span></p>
                      <p>Supported by: <span>Google Cloud</span></p>
                   </div>
                   <div class="col-md-7 col-lg-7 clear-padding">
                      <div class="col-md-6 col-lg-6">
                         <p>Data Access Times by Day</p>
                         <div>
                            <!-- Chart Placeholder -->
                            <img src="images/line-chart.png" alt="line-chart" class="img-responsive" />
                            <!-- Chart Placeholder -->
                         </div>
                      </div>
                      <div class="col-md-6 col-lg-6">
                         <p>Access Risk Violations</p>
                         <div>
                            <!-- Chart Placeholder -->
                            <img src="images/donut-chart.png" alt="donut-chart" class="img-responsive" />
                            <!-- Chart Placeholder -->
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row clear-margin data-tabs">
                   <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#risk">RISK</a></li>
                      <li><a data-toggle="tab" href="#access">ACCESS</a></li>
                      <li ><a data-toggle="tab" href="#notes">NOTES</a></li>
                   </ul>
                   <div class="tab-content">
                      <!-- risk-tab -->
                      <div id="risk" class="tab-pane fade in active">
                         <div class="row clear-margin">
                            <scatter-chart [chartData]="scatterChartData"></scatter-chart>
                            <!-- Table Placeholder -->
                            <table class="table">
                               <thead>
                                  <tr>
                                     <th >Alert</th>
                                     <th>Time</th>
                                     <th>Type</th>
                                     <th>Risk</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td (click)="openNav()">Upgrade of OS config</td>
                                     <td>03/09/17 08:17</td>
                                     <td>Access</td>
                                     <td>High</td>
                                  </tr>
                                  <tr>
                                     <td>Upgrade of OS config</td>
                                     <td>03/09/17 08:17</td>
                                     <td>Access</td>
                                     <td>Low</td>
                                  </tr>
                                  <tr>
                                     <td>Upgrade of OS config</td>
                                     <td>03/09/17 08:17</td>
                                     <td>Access</td>
                                     <td>Medium</td>
                                  </tr>
                               </tbody>
                            </table>
                            <!-- Table Placeholder -->
                         </div>
                      </div>
                      <!-- risk-tab ends -->
                      <!-- access-tab -->
                      <div id="access" class="tab-pane fade">
                         <div class="row clear-margin">
                         </div>
                      </div>
                      <!-- access-tab ends -->
                      <!-- notes-tab -->
                      <div id="data-placement" class="tab-pane fade">
                         <div class="row clear-margin">
                            <!-- Table Placeholder -->
                            <!-- Table Placeholder -->
                         </div>
                      </div>
                      <!-- notes-tab ends -->
                   </div>
                </div>
             </div>
             <!-- swiss-tab ends -->
             <!-- america-tab -->
             <div id="america" class="tab-pane fade">
                <div class="row clear-margin">asdfghjkl</div>
             </div>
             <!-- america-tab ends -->
          </div>
          <!-- union-tabs Ends -->
       </div>
    </section>
 </div>
 <!---Main page(Risk Access) Ends-->
<!--Slider 1 starts-->
 <div id="slider1" class="sidenav sub2" onresize="currentwidth(event,this)">
    <div id="sidenav-wrapper">
       <section class="content">
          <div class="tabs">
             <!-- union-tabs -->
             <div class="tab-content union-tabs">
                <!-- europe-tab -->
                <div id="europe" class="tab-pane fade">
                   <div class="row clear-margin">zxcvbnm</div>
                </div>
                <!-- europe-tab ends -->
                <!-- swiss-tab -->
                <div id="swiss" class="tab-pane fade in active">
                   <div class="row clear-margin">
                      <div class="col-md-5 col-lg-5 clear-padding">
                         <h4>Access to VM3214</h4>
                         <p>Status: <span class="color-21e5a4">Active</span></p>
                         <p>Risk Level: <span class="color-21e5a4">Very Low</span></p>
                         <p>Supported by: <span>Google Cloud</span></p>
                      </div>
                      <div class="col-md-7 col-lg-7 clear-padding">
                         <div class="col-md-12 col-lg-12">
                            <p>Data Access Times by Day</p>
                            <div>
                               <!-- Chart Placeholder -->
                               <img src="images/line-chart.png" alt="line-chart" class="img-responsive" />
                               <!-- Chart Placeholder -->
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row clear-margin data-tabs">
                      <ul class="nav nav-tabs">
                         <li class="active"><a data-toggle="tab" href="#summary">SUMMARY</a></li>
                         <li><a data-toggle="tab" href="#details">DETAILS</a></li>
                      </ul>
                      <div class="tab-content">
                         <!-- summary-tab -->
                         <div id="summary" class="tab-pane fade in active">
                            <div class="row clear-margin">
                               <div class="silder1-details">
                                  <div class="col-md-4 col-lg-4">
                                     <div class="ticket-details">
                                        <p>Description</p>
                                        <p>SSH into VM instance</p>
                                     </div>
                                     <div class="ticket-details">
                                        <p>Source</p>
                                        <p>46.101.225.296</p>
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-lg-4">
                                     <div class="ticket-details">
                                        <p>Destination</p>
                                        <p>VM 3214</p>
                                     </div>
                                     <div class="ticket-details">
                                        <p>Time</p>
                                        <p>03/29/2017 09:21</p>
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-lg-4">
                                     <div class="ticket-details">
                                        <p>Caller emailID</p>
                                        <p>abc@google.com</p>
                                     </div>
                                     <div class="ticket-details">
                                        <p>Location of resource</p>
                                        <p>Germany</p>
                                     </div>
                                  </div>
                               </div>
                               <table class="table">
                                  <thead>
                                     <tr>
                                        <th >Ticket</th>
                                        <th>Caller Email ID</th>
                                        <th>Status</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <td (click)="openNavi()">Support Ticket#2294</td>
                                        <td>Abc@google.com</td>
                                        <td>Conmpleted</td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                         <!-- summary-tab ends -->
                         <!-- details-tab -->
                         <div id="details" class="tab-pane fade">
                            <div class="row clear-margin">
                            </div>
                         </div>
                         <!-- data-movement-tab ends -->
                         <!-- data-placement-tab -->
                         <div id="data-placement" class="tab-pane fade in active ">
                            <div class="row clear-margin">
                               <!-- Table Placeholder -->
                               <!-- Table Placeholder -->
                            </div>
                         </div>
                         <!-- data-placement-tab ends -->
                      </div>
                   </div>
                </div>
                <!-- swiss-tab ends -->
                <!-- america-tab -->
                <div id="america" class="tab-pane fade">
                   <div class="row clear-margin">asdfghjkl</div>
                </div>
                <!-- america-tab ends -->
             </div>
             <!-- union-tabs Ends -->
          </div>
       </section>
    </div>
 </div>
 <!--Slider1 ends-->
 <!--slider2 starts-->
 <div id="slider2" class="sidenav sub3">
    <section class="content">
       <div class="tabs">
          <!-- union-tabs -->
          <div class="tab-content union-tabs">
             <!-- europe-tab -->
             <div id="europe" class="tab-pane fade">
                <div class="row clear-margin">zxcvbnm</div>
             </div>
             <!-- europe-tab ends -->
             <!-- swiss-tab -->
             <div id="swiss" class="tab-pane fade in active">
                <div class="row clear-margin">
                   <div class="col-md-12 col-lg-12 clear-padding">
                      <a class="add-tabs pull-right" (click)="expand()">+</a>
                      <h4>Support Ticket #29382</h4>
                      <p>Status: <span class="color-21e5a4">Completed</span></p>
                      <p>Priority: <span class="color-21e5a4">Very Low</span></p>
                      <p>period: <span>01/01/17-02/02/18</span></p>
                      <p>Supported by: <span>Google Cloud</span></p>
                   </div>
                </div>
                <div class="row clear-margin data-tabs">
                   <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#summary1">SUMMARY</a></li>
                      <li><a data-toggle="tab" href="#access-logs">ACCESS LOGS</a></li>
                   </ul>
                   <div class="tab-content">
                      <!-- summary1-tab -->
                      <div id="summary1" class="tab-pane fade in active">
                         <div class="row clear-margin">
                            <div class="ticket-details">
                               <p>Subject</p>
                               <p>Support Request to google cloud</p>
                            </div>
                            <div class="ticket-details">
                               <p>Ticket Status</p>
                               <p>Completed</p>
                            </div>
                            <div class="ticket-details">
                               <p>Priority</p>
                               <p>High</p>
                            </div>
                            <div class="ticket-details">
                               <p>Created On</p>
                               <p>03/02/2017 13:25</p>
                            </div>
                            <div class="ticket-details">
                               <p>Activity Log</p>
                               <ul class="ticket-list">
                                  <li>Network configuration Inspected</li>
                                  <li>MSSQL Logs Inspected</li>
                                  <li>Audit Logs Inspected</li>
                               </ul>
                            </div>
                         </div>
                      </div>
                      <!-- summary1-tab ends -->
                      <!-- access-log-tab -->
                      <div id="access-log" class="tab-pane fade">
                         <div class="row clear-margin">
                         </div>
                      </div>
                      <!-- access-log-tab ends -->
                   </div>
                </div>
             </div>
             <!-- swiss-tab ends -->
             <!-- america-tab -->
             <div id="america" class="tab-pane fade">
                <div class="row clear-margin">asdfghjkl</div>
             </div>
             <!-- america-tab ends -->
          </div>
          <!-- union-tabs Ends -->
       </div>
    </section>
 </div>
 <!--Slider 2 ends-->

