
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:  0px;
    }
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    .sidenav a:hover {
    color: #f1f1f1;
    }
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    .active{
    margin-left:0px;
    }
    #main {
    transition: margin-left .5s;
    }
    .sidenav.sub3{
    background-color:#fff;
    padding-left:5px;
    }
    .sidenav.sub2{
    border-left:5px solid #fff;
    }
    /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    } */
    header{
    width: 100%;
    clear:left;
    padding: 1px 0px;
    }
    #risk,#summary table{
    color:#666;
    }	
    .data-tabs{
    background:#fff;
    }
    .data-tabs ul{
    background: #344A5F;
    }
    .ticket-details{
    font-size: 13px;
    line-height: 1;
    padding: 10px 10px;
    }
    .ticket-details p:last-child{
    color:#111;
    }
    .tab-content{
    color:#666;
    }
    ul.ticket-list{
    background:#fff;
    }
    .nav-tabs>li>a{
    font-size:12px;
    }