<!-- <h3>Table</h3> -->
<!--<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>-->
<!-- <button md-raised-button (click)="onSelectData()"> Comment </button> -->
<!-- <table [class.changeCursor]="classSelect" [class.activeCursor]="cursorchange">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>username</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let value of tableValue" [class.selected]="value === selectedTableData" (click)="onSelectTableData(value)">
    <td>{{value.id}}</td>
    <td>{{value.name}}</td>
    <td>{{value.username}}</td>
    <td>{{value.email}}</td>
  </tr>
</table> -->
         

          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Business Unit</th>
                  <th>Issue category</th>
                  <th>Buisness Impact</th>
                  <th>Compliance Issue</th>
                  <th>Compliance Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of tableValue;let i= index" (click)="commentPopup(i)">
                  <td>{{value.BusinessUnit}}</td>
                  <td>{{value.Issuecategory}}</td>
                  <td>{{value.BuisnessImpact}}</td>
                  <td data-toggle="popover" data-trigger="click" data-popover-content="#a1" data-placement="bottom">{{value.ComplianceIssue}}</td>
                  <td> <img *ngIf="value.ShowCommentIcon" src="../../../assets/chaticon.png" style="width: 25px; margin-right: 5px;"
                      (click)="newComment(value.ShowComment)">{{value.ComplianceRate}}</td>
                </tr>
              </tbody>
            </table>
            <!-- Content for Popover #1 -->
            <!-- <div id="a1" class="hidden">
              <div class="popover-heading">Leave a comment</div>
              <div class="popover-body"><textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="btn btn-default">Save</button>
              </div>
            </div> -->
            <!--popover ends-->
            <!--modal-custom-->
            <div class="custom-modal" [hidden]="popupVisible">
              <div class="popover-heading" style="color:gray">Leave a comment</div>
              <div class="popover-body"><textarea [(ngModel)]="leaveComment" class="form-control" rows="5" id="comment"style="color:gray"></textarea>
                <button type="btn btn-default" (click)="saveComment(leaveComment,commentindex)"style="color:gray">Save</button>
                <button type="btn btn-default" (click)="close()"style="color:gray">Cancel</button>

              </div>
            </div>
          </div>
        

      
     