<div style="border: 1px solid red;">


 <h1>wwwww</h1>
  <br><span  [routerLink]="['/', {outlets: {'risk-occurrences': ['1234'], 'vm-node': ['9639']}}]" >link....... </span>  hi.... riskOccurencesID: {{riskOccurencesID | json}}<br>..
</div>

<!-- <router-outlet></router-outlet> -->