/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: 16px;
  background-color: #3d5c78 !important;
  color: #666666;
  font-family: Verdana, Geneva, sans-serif;
}

