<section class="content">
    <div class="tabs">
          <!-- union-tabs -->
          <!-- <ul class="nav nav-tabs">
            <li><a data-toggle="tab" >Europe Union</a></li>
            <li class="active"><a data-toggle="tab" >Swiss-German Union</a></li>
            <li><a data-toggle="tab" >North-America Union</a></li>
            <a  class="add-tabs pull-right" (click)="expand()">+</a> 
          </ul> -->
          <ul class="nav nav-tabs">
            <li *ngFor="let item of unionTabs" [ngClass]="{'active':activeUnionTab==item.link}" style="cursor: pointer">
              <a data-toggle="tab" [attr.aria-expanded]="activeUnionTab==item.link" [routerLink]="'../'+item.link+'/data-movement'" (click)="unionTabClicked(item)">{{item.label}}</a>
            </li>
            <a  class="add-tabs pull-right" (click)="expand()">+</a> 
          </ul>
          <div class="tab-content union-tabs">
              <!-- europe-tab -->
              <div id="europe" class="tab-pane fade">
                <div class="row clear-margin">zxcvbnm</div>
              </div>
              <!-- europe-tab ends -->

              <!-- swiss-tab -->
              <div id="swiss" class="tab-pane fade in active">
                <div class="row clear-margin" id="expand-div">
                  <div class="col-md-5 col-lg-5 clear-padding">
                    <h4>Swiss-German Union #738804</h4>
                    <p>Status: <span class="color-21e5a4">Active</span></p>
                    <p>Risk Level: <span class="color-21e5a4">Very Low</span></p>
                    <p>Supported by: <span>Google Cloud</span></p>
                  </div>
                  <div class="col-md-7 col-lg-7 clear-padding">
                    <div class="col-md-6 col-lg-6">
                      <p>Data Access Times by Day</p>
                      <div>
                        <!-- Chart Placeholder -->
                        <img src="assets/images/line-chart.png" alt="line-chart" class="img-responsive">
                        <!-- Chart Placeholder -->
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <p>Access Risk Violations</p>
                      <div>
                        <!-- Chart Placeholder -->
                        <img src="assets/images/donut-chart.png" alt="donut-chart" class="img-responsive">
                        <!-- Chart Placeholder -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clear-margin data-tabs">
                  <ul class="nav nav-tabs">
                    <li *ngFor="let item of dataTabs" [ngClass]="{'active':activeDataTab==item.link}" style="cursor: pointer">
                      <a data-toggle="tab" [attr.aria-expanded]="activeDataTab==item.link" [routerLink]="item.link" (click)="dataTabClicked(item)">{{item.label}}</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="data-placement" class="tab-pane fade in active">
                      <div class="row">
                        <div class="col-md-12" style="padding: 0px 5%;">
                            <router-outlet></router-outlet>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiss-tab ends -->
              
              <!-- america-tab -->
              <div id="america" class="tab-pane fade">
                <div class="row clear-margin">asdfghjkl</div>
              </div>
              <!-- america-tab ends -->
          </div>
          <!-- union-tabs Ends -->
      </div>

  </section>


