<!-- <p>
  my-task works!
</p> -->

<div class="panel-heading">
  <h5>My Tasks <br><span>Due Today</span></h5>
</div>
<div class="panel-body clear-vertical-padding">
  <ul class="task-list" *ngFor="let taskData of task;let i=index">
    <li *ngIf="i<showTasks">{{taskData.tasks}}<br><span>{{taskData.comments}}</span></li>
    <!-- <li>Monthly Report for Lena</li>
    <li>Cloud Security Online Training</li>
    <li>Prepare Report for Upcoming Audit</li> -->
  </ul>
</div>
<div class="panel-footer">
  <span>Showing {{task.length-4}} of {{task.length}}</span>
  <a class="pull-right view-more"><img src="assets/dots.png" alt="dots" (click)="goToCarousel()" /></a>
</div>