
/* Union Page */
.tabs{
	margin-top: -10px;
}
.nav-tabs{
	border-bottom: 0px;
	padding: 0px 5%;
}
.tabs > .nav-tabs{
	background: #344A5F;
}
.tabs > .tab-content{
	padding: 10px 0px 0px 0px;
	background-color: #3b5166;
	color: #FFFFFF;
	font-size: 0.75em
}
.tab-content h4{
	margin-top: 0px;
}
.union-tabs > .tab-pane > div:first-child{
	padding: 0px 5%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #b3cce5;
	color: #b3cce5;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
	border: none;
}
.nav>li>a{
	color: #849bb0;
	padding: 5px 0px;
	margin-right: 20px;
	border: none
}
.add-tabs{
	color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25em
}
.add-tabs:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.data-tabs ul{
	font-size: 1.25em;
}
.data-tabs{
	height: calc(100vh - 212px);
	overflow: hidden;
}
