<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-bg padding0">
      <!-- Login -->
      <div class="login-div login-height">
        <div class="login-form">
    <div class="logo-form">
    <img src="../../../assets/cloud.png"/>
          <span class="blue">SAP</span>
    </div>
          
            <div class="form-group">
              <input type="text" class="form-control" placeholder="UserName" required [formControl]="username">
              <h5 [hidden]="username.valid || !loginclicked">Required</h5>
            </div>
            <div class="form-group">
      
      <i class="fa fa-eye" aria-hidden="true"  onmouseover="mouseoverPass();" onmouseout="mouseoutPass();"></i>
              <input type="password" class="form-control" placeholder="Password" id="myPassword" required [formControl]="password">
              <h5 [hidden]="password.valid || !loginclicked">Required</h5> 
            </div>
     <div class="form-group">

<!-- <select class="form-control" id="sel1" [formControl]="role">
  <option>Role</option>
  <option>Role-1</option>
  <option>Role-2</option>
  <option>Role-3</option>
</select> -->
</div>
      <p class="forgot-pwd"><small>Forgot Password?</small></p>
      <div class="btn-wrapper">
            <button class="btn btn-login blue" (click)="login()">LOGIN</button>
      </div>
      
         
        </div>
      </div>
  <!-- Login Ends -->


    </div>
  </div>
</div>