/*Login CSS*/

.blue{
    color:#28aae4;
  }
  .form-control::-webkit-input-placeholder { color: #343434; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color:#343434; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: #343434;}  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: #343434; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: #343434; } 
  .login-height{
      height:40%;
  }
  .login-div{
    color:#fff;
    position:absolute;
    z-index:99;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:30%;
    
    
  }
  
  .login-div img{
  width:40px;
  vertical-align:middle;
  }
  .login-div button{
    margin-top:20px;
   background: transparent;
      border: 2px solid #28aae4;
    padding: 15px 20px;
    font-weight:bold;
    width:160px;
   
    border-radius:0px;
  }
  .login-div button:hover,.login-div button:focus,.login-div button:active{
   background:transparent;
   color:#28aae4;
   border: 2px solid #28aae4;
  }
  .login-div .fa{
      float:right;
      position: absolute;
      right: 0;
      bottom: 20px;
      cursor:pointer;
  }
  .login-div h3{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    color:#FFF;
  }
  .login-div .form-group{
      position: relative;
      padding:15px 0px;
     
  }
  .login-div .login-form input{
      color:#fff;
       border:none;
       border-bottom:1px solid #b3cce5;
       border-radius: 0;
       background:transparent;
       box-shadow:none;
       padding: 6px 0px;
  }
  .login-div .login-form  select{
  color:#fff;
      border:none;
      border-bottom:1px solid #b3cce5;
       border-radius: 0;
       background:#3d5c78;
       box-shadow:none;
       padding: 6px 0px;
  }
  .login-div  p{
      font-size:14px;
      
  }
  .login-div p.forgot-pwd{
      float:right;
      font-size:12px;
  }
  .login-div .register p{
      text-align:center;
  }
  .login-form{
      
    font-weight:500;
    text-align:center;
    padding: 30px;
    background:rgba(90,90,90,0.8);
      
  }
  
  .login-form span{
      
      font-size: 24px;
      font-weight: bold;
      padding-bottom:10px;
      vertical-align:middle;
  }
  .btn-wrapper{
      float: left;
      width: 100%;
      margin: 0px 0px 20px 0px;
  }
  .logo-form{
      text-align:left;
      padding:10px 0px;
  }
  .login-bg{
      /* background-image:url('../images/gstpic.jpg'); */
      background-repeat:no-repeat;
      background-size:100% 100%;
      height:100vh;
      
  }
  .login-bg .login-form{
      
      background:transparent;
  
  }
  
  .login-form  input::placeholder {
    color: #fff;
  }
  .login-logo{
      padding-bottom:20px;
  }
  @media only screen and (min-width:321px) and (max-width:767px){
  .login-div{
      width:60%;
  }
  
  }
  
  @media only screen and (max-width:320px){
  .login-div{
      width:100%;
  }
  }